/* .aboutme-title{
    position: relative;
    width: min(100%, 1800px);
    background-color: white;
}

@media (min-width: 1200px){
    .aboutme-title::after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        margin: 0 auto;
        height: 20px;
        border-bottom:  1px solid var(--primary-accent-color);
    }
    
    .aboutme-title::before{
        content: " ";
        position: absolute;
        top: 0;
        width: 30%;
        right: 0;
        height: 20px;
        border-bottom:  1px solid var(--primary-accent-color);
    }
} */

.aboutme-container{
    /* background: linear-gradient(to left, rgb(0, 0, 0, 1) 0%, rgb(160,77,239, 0.5) 10%,  rgb(0, 0, 0, 1) 20%,  rgb(160,77,239, 0.5) 30%, rgb(0, 0, 0, 1) 40%,  rgb(160,77,239, 0.5) 50%,  rgb(0, 0, 0, 1) 70%, rgb(160,77,239, 0.5) 100% ); */
    /* background: linear-gradient(to left bottom, rgb(0, 0, 0, 1) 0%,  rgb(0, 0, 0, 1) 50%,rgb(255, 255,  255, 1) 50%, rgb(255, 255,  255, 1) 100%); */
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    /* height: min(100vh, 1400px); */
}

.about-me-sections li{
    cursor: pointer;
}

.about-me-sections li:hover{
    color: var(--secondary-accent-color);
    border-color: var(--secondary-accent-color);
}

.about-me-text{
    /* display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: scroll; */
    min-height: 500px;
}

.aboutme-image-container{
    position: absolute;
    top: -30%;
    right: 0;
}

.aboutme-image-container img{
    width: 500px;
}


@media (max-width: 700px){
    .aboutme-image-container img{
        width: 300px;
    }
    .aboutme-image-container{
        position: absolute;
        top: -20%;
        right: 0;
    }
} 

@media (max-width: 400px){
    .aboutme-image-container img{
        width: 200px;
    }
    .aboutme-image-container{
        position: absolute;
        top: -20%;
        right: 0;
    }
} 

@media (max-width: 200px){
    .aboutme-image-container img{
        width: 100px;
    }
    .aboutme-image-container{
        position: absolute;
        top: -20%;
        right: 0;
    }
} 