.landing-body {
    background-repeat: no-repeat;
    background-image:   
                        url('../assets/landing.png');
    height: 100%;
    /* Full height */
    min-height: 100vh;
    overflow: hidden;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

