.technical{
    position: relative;
    margin-top: 40px
}

.technical-bar{
    position: absolute;
    width: 10px;
    background-color: white;
    top: 0;
    height: calc(100% + 40px);
    right: 0;
}

.technical-circle{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    z-index: 10;
    top: 40px;
    right: -15px;
}

@media (max-width: 500px){
    .technical-bar{
        position: absolute;
        width: 2px;
        background-color: white;
        top: 0;
        height: calc(100% + 40px);
        right: 0;
    }

    .technical-circle{
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
        z-index: 10;
        top: 20px;
        right: -4px;
    }
}