.cp-container{
    background-color: var(--color-secondary);
    width: 300px;
    height: 300px;
}
.circular-progress{
    height: 200px;
    width: 200px;
    background: conic-gradient(var(--color-primary) 109.6deg, white 0deg);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before{
    content: '';
    height: 170px;
    width: 170px;
    position: absolute;
    border-radius: 50%;
    background: #fff;
    border-radius: 50%;
}

.progress-value{
    z-index: 1000;
}