:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #24242476;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #000;
  --progress-graident-bar : linear-gradient(90deg, #9e61ffc5, #9D61FF);
  /* --color-primary: #a04def; */
  --color-secondary: #fff;
  --color-black:  #5c3e84;
  --primary-accent-color: #a04def;
  --secondary-accent-color: #fee856;
}

*{
  font-family: sans-serif;
}

.primary-bg{
  background-color: var(--color-primary);
}

.secondary-bg{
  background-color: var(--color-secondary);
}

.black-bg{
  background-color: var(--color-black);
}

.primary-color{
  color: var(--color-primary);
}

.secondary-color{
  color: var(--color-secondary)
}

.black-color{
  color: var(--color-black)
}

.white-transparent-bg{
  background-color: hsla(0, 0%, 100%, 0.916);
}

.primary-accent-bg{
  background-color: var(--primary-accent-color);
}

.secondary-accent-bg{
  background-color: var(--secondary-accent-color);
}

.primary-accent-color{
  color: var(--primary-accent-color);
}

.secondary-accent-color{
  color: var(--secondary-accent-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.primary-gradient-color{
  background: linear-gradient(109.6deg, rgba(119, 44, 232, 0.68) 11.5%, rgb(119, 44, 232) 91.2%);
  background-clip: text;
  color: transparent;
}

.secondary-gradient-color{
  background-image: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
  background-clip: text;
  color: transparent;
}

body{
  background-color: var(--color-secondary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (min-width: 768px){
  .desktop-hide{
    position: absolute;
    /* top:100000px; */
    visibility: hidden;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width:767px) {
    .mobile-hide{
      position: absolute;
      top: 1000000px;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.box{
  width: min(100%, 1800px);
  margin: 0 auto;
}