:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #24242476;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #fff;
  --progress-graident-bar : linear-gradient(90deg, #9e61ffc5, #9D61FF);
  /* --color-primary: #a04def; */
  --color-secondary: #000;
  --color-black:  #5c3e84;
  --primary-accent-color: #a04def;
  --secondary-accent-color: #B2FF59;
}


*{
  font-family: 'Inter', sans-serif;
}

.primary-bg{
  background-color: var(--color-primary);
}

.secondary-bg{
  background-color: var(--color-secondary);
}

.black-bg{
  background-color: var(--color-black);
}

.primary-color{
  color: var(--color-primary);
}

.secondary-color{
  color: var(--color-secondary)
}

.black-color{
  color: var(--color-black)
}

.white-transparent-bg{
  background-color: hsla(0, 0%, 100%, 0.916);
}

.primary-accent-bg{
  background-color: var(--primary-accent-color);
}

.secondary-accent-bg{
  background-color: var(--secondary-accent-color);
}

.primary-accent-color{
  color: var(--primary-accent-color);
}

.secondary-accent-color{
  color: var(--secondary-accent-color);
}

.section-margin{
  margin-top: 190px;
}

.secondary-accent-gradient-bg{
  background: linear-gradient(to right, rgb(178, 255, 89) 0%, rgba(178, 255, 89, 0.9) 100%);
}

.primary-accent-gradient-bg{
  background: linear-gradient(to right, var(--primary-accent-color) 0%,rgba(160,77,239, 0.6) 100%)
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-accent-color);
}

.primary-gradient-color{
  background: linear-gradient(to right, rgba(178, 255, 89, 0.8), var(--secondary-accent-color) 100%);
  background-clip: text;
  color: transparent;
}

.secondary-gradient-color{
  background-image: linear-gradient(to right, var(--color-primary) 0%, var(--color-primary) 50%,  var(--secondary-accent-color) 100%);
  background-clip: text;
  color: transparent;
}

body{
  background-color: var(--color-secondary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.active-nav-section{
  position: relative;
}

.active-nav-section::before{
  content: ' ';
  position: absolute;
  bottom:0;
  height: 5px;
  left: 0;
  right: 0;
  background-color: var(--color-black);
  border-radius: 20px;
  animation: nav-active-ani 500ms ease-in forwards;
}

@keyframes nav-active-ani {
  0%{
    width: 0;
    opacity: (0);
    scale: (0);
    background-color: var(--color-primary);
  }
  100%{
    width: 100%;
    opacity: (1);
    scale: (1);
  }
}

@media (min-width: 768px){
  .desktop-hide{
    position: absolute;
    /* top:100000px; */
    visibility: hidden;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-accent-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--primary-accent-color);
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width:767px) {
    .mobile-hide{
      position: absolute;
      visibility: hidden;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.box{
  width: min(100%, 2000px);
  margin: 0 auto;
}

.r{
  border-radius: 30%/10% 30%;
}

.t{
  border-radius: 50%/20%;
}

.j{
  border-radius: 50% 10% /20%;
}

h1{
  line-height: 56px;
  font-size: 48px;
  letter-spacing: -1.6px;
}

h2{
  line-height: 36px;
  font-size: 30px;
  letter-spacing: -1.9px;
}

h3{
  line-height: 26px;
  font-size: 20px;
  letter-spacing: -1.6px;
}


.text-shadow{
  text-shadow: 0px 0px 5px black;
}

.primary-accent-outline{
  border: 1px solid var(--primary-accent-color)
}

p{
  line-height: 25px;
  font-size: 23px;
}

.body-text{
  line-height: 55px;
  font-size: 4rem;
  letter-spacing: -1.5px;
}

.header-upper-text{
  letter-spacing: -2.5px;
  text-transform: uppercase;
}

.header-text{
  line-height: 42px;
  font-size: 40px;
  width: 100%;
  letter-spacing: -1.8px;
}

@media (max-width: 600px){
  .body-text{
    line-height: 28px;
    font-size: 2rem;
    letter-spacing: -1.5px;
  }

  .header-upper-text{
    letter-spacing: -1.5px;
    text-transform: uppercase;
  }

  h1{
    line-height: 26px;
    font-size: 25px;
    letter-spacing: -1.1px;
  }
  
  h2{
    line-height: 16px;
    font-size: 15px;
    letter-spacing: -1px;
  }

  p{
    line-height: 25px;
    font-size: 18px;
  }

  .section-margin{
    margin-top: 100px;
  }

  h3{
    line-height: 26px;
    font-size: 20px;
    letter-spacing: -1px;
  }
}

@media (max-width: 1300px){
  .body-text{
    line-height: 26px;
    font-size: 1.5rem;
    letter-spacing: -1px;
  }

  .header-upper-text{
    letter-spacing: -1.1px;
    text-transform: uppercase;
  }

  h1{
    line-height: 24px;
    font-size: 20px;
    letter-spacing: -1.1px;
  }
  
  h2{
    line-height: 17px;
    font-size: 14px;
    letter-spacing: -.6px;
  }

  p{
    line-height: 21px;
    font-size: 20px;
  }

  .section-margin{
    margin-top: 120px;
  }

  h3{
    line-height: 24px;
    font-size: 18px;
    letter-spacing: -.7px;
  }
}

@media (max-width: 400px){

  p{
    font-size: 1rem;
    line-height: 20px;
  }

  .body-text{
    line-height: 25px;
    font-size: 1.6rem;
    letter-spacing: -1.3px;
  }

  .header-upper-text{
    letter-spacing: -1.3px;
    text-transform: uppercase;
  }

  h1{
    line-height: 20px;
    font-size: 19px;
    letter-spacing: -1px;
  }
  
  h2{
    line-height: 17px;
    font-size: 14px;
    letter-spacing: -0.5px;
  }

  h3{
    line-height: 26px;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar  {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}